*{
    font-family: sans-serif;
}
#bg {
    background-color: #F9E79F;
    height: 100%;
    width: 100%;
    background-position: center;
}

.side-bar{
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}

.href{
    width: 100%;
    padding: 6px 8px 6px 20px;
    position: relative;
}
.href a{
    border: solid white;
    font-size: 40px;
    text-decoration: none;
    color: white;
}
.href a:hover{
    color: #F9E79F;
}

.information-link img {
    border: solid white;
    border-radius: 50%;
    width:80%;
    position: absolute;
    bottom: 5%;
    left: 5%
}


.information-link img:hover{
    border: solid black;
    transition: .5s;
    left: 0%;
    width: 200%;
}
.information-detail{
    border: solid white;
    position: absolute;
    width: 90%;
    bottom: 5%;
    left: 5%;
}
.information-detail p{
    color: white;
}

p{
    font-weight: bold;
}
.content{
    padding:10px;
    width: 50%;
    height: auto;
    border-style: solid;
    border-color: black;
    position:absolute;
}
.list{
    font-weight: bold;
    font-size: 20px;
}
#Intro{
    left:25%;
    top: 18%;
}