* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.background {
    background-image: url("cloud.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    transition: 1s;
}


.form-box {
    width: 35%;
    height: 55%;
    margin-top: 10%;
    margin-left: 32%;
    position: absolute;
    background-color: white;
    overflow: hidden;
}
.botton-box{
    width: 220px;
    height: auto;
    margin: 5% auto;
    position: relative;
    box-shadow:  0 0 20px 9px #ff62141f;
    border-radius:  30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    position: relative;
    outline: none;
}
#toggle{
    width: 110px;
    height: 100%;
    position: absolute;
    background: linear-gradient(to right, #3930A6, #EA9E8A);
    border-radius:  30px;
    transition: 0.5s;
}
.social-icon{
    margin: 30px auto 0px auto;
    text-align: center;
}
.social-icon img {
    width: 30px;
    height: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #ff62141f;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
    width: 70%;
    margin-top: 5%;
    position: absolute;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 10px;
    margin: 2%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #999;
    background: transparent;
}
.submit-btn{
    width: 50%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    position: absolute;
    margin-left: 30%;
    margin-top: 3%;
    background: linear-gradient(to right, #3930A6, #EA9E8A);
    border: 0;
    border-radius: 30px;
    outline: no;
}
.check-box{
    cursor: pointer;
    margin: 2%;
}
label.check-box{
    font-size: 15px;
}

#signin{
    left: 10%;
}

#signup{
    left: 110%;
}